.toolbar {
  a {
    text-decoration: none;
  }
  & > div {
    @include flex(center, space-between);
    .header-block {
      & > * {
        margin: 0 10px;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
      @include flex(center, space-between);
    }
  }
}
